@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

body{
    background: #1a1a1a;
    color: #ededed;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100%;
}

.heading {
    text-align: center;
    font-size: 5.5rem;
    margin-top: 50px;
}

.logo{
    position: relative;
    font-size: 40px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
}

.logo::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #1a1a1a;
    animation: showRight 1s ease forwards;
    animation-delay: .4s;
}

.navbar a {
    font-size: 20px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 15px;
    transition: .45s;
}

.navbar a:hover,
.navbar a.active {
    color: #bd4141;
}

.home{
    display: flex;
    align-items: center;
    height: 100vh;
    padding: 0 10%;
}

.home-content{
    max-width: 600px;
}

.home-content h1{
    position: relative;
    font-size: 50px;
    font-weight: 700;
    line-height: 1.3;
}

.home-content h1::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #1a1a1a;
    animation: showRight 1.5s ease forwards;
    animation-delay: .8s;
}

.home-content h3 {
    position: relative;
    font-size: 32px;
    font-weight: 700;
    color: #bd4141;
}

.home-content h3::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #1a1a1a;
    animation: showRight 1.5s ease forwards;
    animation-delay: 1.3s;
}

.home-content p {
    position: relative;
    font-size: 16px;
    margin: 20px 0 40px;
}

.home-content p::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #1a1a1a;
    animation: showRight 1s ease forwards;
    animation-delay: 1.8s;
}


.home-content .btn-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
}

.home-content .btn-box::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #1a1a1a;
    animation: showRight 1.5s ease forwards;
    animation-delay: 1.95s;
    z-index: 2;
}

.btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #1a1a1a;
    border: 2px solid #ededed;
    border-radius: 8px;
    font-size: 19px;
    color: #bd4141;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden; 
}

.btn-box a:nth-child(2){
    background: transparent;
    color: #bd4141;
}

.btn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #ededed;
    z-index: -1;
    transition: .5s;
}

.btn-box a:hover::before {
    width: 100%;
}

.home-sci {
    position: absolute;
    display: flex;
    justify-content: space-between;
    bottom: 40px;
    width: 200px;
}

.home-sci::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #1a1a1a;
    animation: showRight 1.5s ease forwards;
    animation-delay: 2.5s;
    z-index: 2;
}

.home-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #ededed;
    border-radius: 50%;
    font-size: 25px;
    color: #bd4141;
    text-decoration: none;
}

.timeline-section {
    background: #1a1a1a;
    padding: 100px 15px;
}

.timeline-section h2 {
    margin-bottom: 5rem;
}

.timeline-items {
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.timeline-items::before {
    content: '';
    position: absolute;
    width: 5px;
    height: 100%;
    background-color: #bd4141;
    left: calc(50% - 1px);
}

.timeline-item {
    margin-bottom: 40px;
    width: 100%;
    position: relative;
}

.timeline-item:last-child {
    margin-bottom: 0;
}

.timeline-item:nth-child(odd) {
    padding-right: calc(50% + 30px);
    text-align: right;
}

.timeline-item:nth-child(even) {
    padding-left: calc(50% + 30px);
}

.timeline-dot {
    height: 21px;
    width: 21px;
    background-color: #ededed;
    box-shadow: 0 0 25px #ededed;
    position: absolute;
    left: calc(50% - 8px);
    border-radius: 50%;
    top: 10px;
}

.timeline-date {
    font-size: 25px;
    font-weight: 800;
    color: #ededed;
    margin: 6px 0 15px;
}

.timeline-content {
    background-color: #bd4141;
    backdrop-filter: blur(20px);
    border: 2px solid #ededed;
    box-shadow: 0 0 10px #ededed;
    padding: 30px;
    border-radius: 1em;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

.timeline-content:hover {
    transform: scale(1.05);
    box-shadow: 0 0 25px #ededed;
}

.timeline-content h3 {
    font-size: 20px;
    color: #ededed;
    margin: 0 0 10px;
    text-transform: capitalize;
    font-weight: 800;
}

.timeline-content p {
    color: #ededed;
    opacity: 0.8;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
}

.projects {
    background: #1a1a1a;
}

.projects h2 {
    margin-bottom: 8rem;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    gap: 2.5rem;
    padding-left: 10px;
    padding-right: 10px;
}

.projects-container .projects-box {
    position: relative;
    height: 550px;
    overflow: hidden;
    display: flex;
    border-radius: 2rem;
    border: 3px solid transparent;
    transition: 0.5s ease-in-out;
}

.projects-box:hover {
    border: 3px solid #bd4141;
}

.projects-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s ease-in-out;
}

.projects-box:hover img {
    transform: scale(1.05);
}

.projects-box .projects-info {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    padding: 0 4rem;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    backdrop-filter: grayscale(100%);
}

.projects-box .projects-info:hover {
    background: #1a1a1ae0;
    backdrop-filter: grayscale(0%);
}

.projects-info h4 {
    font-size: 3rem;
    color: #ededed;
    font-weight: 800;
}

.projects-info p {
    font-size: 1.4rem;
    font-weight: 500;
    margin: 0.3rem 0 1rem;
    color: #bd4141;
}

.privacy-policy {
    padding-top: 30px;
    padding-bottom: 15px;
    padding-left: 10%;
    padding-right: 15%;
    background-color: #1a1a1a;
    color: #bd4141;
}

.privacy-policy p{
    font-size: 12px;
    font-weight: 200;
}

@keyframes showRight {
    100%{
        width: 0;
    }
}